:root {
  font-family: "Silkscreen", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #0f0f0f;
  background-color: #eed9c4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}
body {
  transition: all 0.2s ease;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 16px;
  margin: auto;
}
.pomodoro-timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 3rem;
  padding-bottom: 16px;
}
.pomodoro-timer-controls button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.hidden {
  display: none !important;
}

.pomodoro-timer-display-time {
  font-size: 3.5rem;
  font-weight: 400;
  font-family: "Silkscreen";
  color: #000000;
}

.titlebar {
  height: 30px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}
.titlebar > .controls {
  display: flex;
  gap: 0;
  margin-left: auto;
  pointer-events: auto;
}
.titlebar button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  background-color: transparent;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.media-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 45px;
  gap: 4px;
}

#track-title {
  height: 20px;
}
#track-artist {
  font-size: 12px;
}
.sliding-element {
  animation: slideIn 2s ease-in-out;
  overflow: clip;
}

.animate-wraper {
  overflow-x: clip;
  width: 100%;
  position: relative;
}
#media-widget {
  width: 100%;
  margin: 0 4px;
}

#progress-container {
  width: 100%;
  height: 4px;
  background: #333;
  border-radius: 2px;
  margin: 0 4px;
}

#progress-bar {
  height: 100%;
  background: #1db954; /* Spotify green */
  border-radius: 2px;
  transition: width 0.5s linear;
  width: 0%;
}

.media-time-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.media-time-info p {
  font-size: 14px;
}

.media-controls {
  display: flex;
  width: 100%;
  justify-items: center;
  justify-content: center;
  margin-top: 0;
}
.icons {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#rewind {
  transform: rotate(-180deg);
}

#statistics {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
}
.statistics-info {
  text-align: center;
}

body.focus-mode main > * {
  display: none;
}

body.focus-mode {
  margin: 0 auto;
}

/* mantém só o timer */
body.focus-mode .pomodoro-timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* mostra botão ativo */
body.focus-mode #dnd-button-active {
  display: block;
}

body.focus-mode #dnd-button {
  display: none;
}

/* esconde tudo da titlebar exceto DND */
body.focus-mode .controls > * {
  display: none;
}

body.focus-mode #dnd-button-active {
  display: block;
}

body.focus-mode .resume,
body.focus-mode .start {
  display: block;
}

body.focus-mode .pomodoro-timer {
  height: 100vh;
  width: 100vw;
  margin: auto;
  padding-bottom: 0;
}

body.focus-mode {
  transform: scale(0.95);
  backdrop-filter: blur(8px);
}

body.focus-mode .container {
  height: 100vh;
  width: 100vw;
  padding: 0;
  opacity: 90%;
}

body.focus-mode .pomodoro-timer {
  opacity: 1 !important;
  transform: scale(1.05);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
main > * {
  transition:
    opacity 0.25s ease,
    transform 0.25s ease;
}

body.focus-mode main > * {
  opacity: 0;
  transform: scale(0.95) translateY(10px);
}
body.focus-mode .pomodoro-timer-display-time {
  font-size: 2rem;
}

body.focus-mode .pomodoro-timer-controls button {
  width: 40px;
  height: 40px;
}
body.focus-mode .pomodoro-timer-controls img {
  width: 40px;
  height: 40px;
}

body.focus-mode .pomodoro-timer {
  width: 80%;
  gap: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  justify-self: center;
}

.hidden {
  display: none;
}

p,
span {
  user-select: none;
  pointer-events: none;
}

.pomodoro-timer-controls button {
  cursor: pointer;
}

body.focus-mode .titlebar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  height: 20px;
  cursor: grab;
  z-index: 10;
}

button img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

#context-menu {
  position: fixed;
  background-color: #191919;
  border: 1px solid #242424;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 12px;
  color: #FFF;
}
